<a href="https://colab.research.google.com/github/MeenakshiMony23/python-for-machine-learning2/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#single line comments
"""
This is a comment
written in
more than just one line
"""
print("hai")

hai

In [8]:
#assigning multiple values to multiple variables
a,b,c=12,"apple pie",'a'
print(a)
print(b)
print(c)

12
apple pie
a

In [9]:
#assigning single value to multiple variable
a=b=c="cheesecake"
print(a)
print(b)
print(c)

cheesecake
cheesecake
cheesecake

In [10]:
#unpack a collection
list=["porsche","audi","ford"]
a,b,c=list
print(a,b,c)

porsche audi ford

In [12]:
#diff functions of +
#1.combine two string values
a="sun"
b="rise"
print(a,b)

#2.addition
a=100
b=74
print(a+b)

sun rise
174

In [18]:
#list
#input list
newlist=["apple", "banana", "cherry", "apple", "cherry"]
#output length of list
print(len(newlist))
#output specified index
print(newlist[3])
#output specified index from 2 to 4
print(newlist[2:4])
#change item value
newlist[4]="mango"
print(newlist)
#output specified index from 2
print(newlist[2:])
#output specified index till 4
print(newlist[:4])
#check item
if "banana" in newlist:
  print("yes")
else:
  print("no")
newlist.append("kiwi")
print(newlist)
newlist.remove("kiwi")
newlist.insert(1,"orange")
print(newlist)
newlist.pop(5)
print(newlist)
newlist.pop()
print(newlist)
thislist=newlist
newlist.extend(thislist)
print(newlist)
newlist.clear()
print(newlist)
del newlist

5
apple
['cherry', 'apple']
['apple', 'banana', 'cherry', 'apple', 'mango']
['cherry', 'apple', 'mango']
['apple', 'banana', 'cherry', 'apple']
yes
['apple', 'banana', 'cherry', 'apple', 'mango', 'kiwi']
['apple', 'orange', 'banana', 'cherry', 'apple', 'mango']
['apple', 'orange', 'banana', 'cherry', 'apple']
['apple', 'orange', 'banana', 'cherry']
['apple', 'orange', 'banana', 'cherry', 'apple', 'orange', 'banana', 'cherry']
[]